{% extends '@layout/base.html.twig' %}

{% block title %} Nuevo Usuario {% endblock %}

{% block content %}

<div id="component" class="container">
    <div class="row mt-1">
        <div class="col">
            <h3>Nueva ubicación</h3>
        </div>
    </div>
    <form action="{{path('createCity')}}">
        <input type="hidden" id="eventID" name="eventID" value={{eventID}}>
        <div class="container border rounded">
            <div class="container">
                <h4 class="mt-3 mb-3">Datos de la ubicación</h4>
                <div class="mt-3 mb-3 row">
                    <label for="cityName" class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="cityName" name="cityName" autofocus="autofocus">
                    </div>                
            </div>
        </div>
        <div class="container">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
                {% if (eventID is null) %}
                    <a class="btn btn-secondary mb-3" href={{ path('viewEvent', {eventID: eventID, action: 'new'}) }}>Cancelar y volver</a>
                {% else %}
                    <a class="btn btn-secondary mb-3" href={{ path('viewEvent', {eventID: eventID, action: 'view'}) }}>Cancelar y volver</a>
                {% endif %}
                <button class="btn btn-success mb-3">Crear ubicación</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}