{% extends '@layout/base.html.twig' %}

{% block title %} Administración de Roles {% endblock %}

{% block content %}

<div id="component" class="container">

    <div class="row my-2">
        <div class="col">
            <h3>Administración de Roles</h3>
        </div>
        <div class="col">
            {% if is_granted(['ROLE_USUARIOS_CREAR']) %}    
                <a href={{path("newProfile")}} class="btn btn-secondary" style="background-color: #00889B; float: right;">Nuevo Rol</a>
            {% else %}
                <a class="btn btn-secondary" style="background-color: #00889B; float: right;" disabled title="Usuario no autorizado">Nuevo Rol</a>
            {% endif %}
        </div>
    </div>
    
    <div class="container border rounded mt-2 mb-2">
        <table class="table table-striped table-hover">
            <thead>
                <th scope="col">Nombre de Rol</th>
                <th scope="col">Acciones</th>
            </thead>
            <tbody>
                {% for perfil in perfiles %}
                <tr>
                    <td>{{perfil.name}}</td>
                    <td>
                        {% if perfil.name != 'Administrador' %}
                            {% if is_granted(['ROLE_USUARIOS_MODIFICAR']) %}    
                                <a href="{{ path('editProfile', {'id': perfil.id}) }}" class="btn btn-outline-secondary" >Editar</a>
                            {% else %}
                                <a class="btn btn-outline-secondary" disabled title="Usuario no autorizado">Editar</a>
                            {% endif %}
                            {% if is_granted(['ROLE_USUARIOS_ELIMINAR']) %}    
                                <a href="{{ path('deleteProfile', {'id': perfil.id}) }}"  class="btn btn-outline-secondary" >Eliminar</a>
                            {% else %}    
                                <a class="btn btn-outline-secondary" disabled title="Usuario no autorizado">Eliminar</a>
                            {% endif %}    
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}