{% extends '@layout/base.html.twig' %}

{% block title %} Nuevo Template {% endblock %}

{% block content %}

<div>

</div>
<div id="component" class="container">
    <div class="row mt-1">
        <div class="col">
            <h3>Nuevo template</h3>
        </div>
    </div>
    {{ form(form) }}

</div>

{% endblock %}