<!DOCTYPE html>
<html>
    <head>
        <title>Página de prueba</title> 
    </head>
    <body>
        <h1>Contenido de la colección {{nombreColeccion}}:</h1> 
        <br/>
        {% for p in coleccion %}
             {{ p }} <br/>
        {% endfor %}
    </body>
</html>
