<!DOCTYPE html>
<html>
    <head>
        <title>Página de prueba</title> 
    </head>
    <body>
        <h2>Contenido de la colección {{nombreColeccion}}:</h2> 
        <br/>
        {% for p in coleccion %}
             {{ p.name }} <br/>
        {% endfor %}
    </body>
</html>
