<html>
<div style="width:1024;height:200;background:#b3fff0;text-align:center;color:black;font-size:300%"><br/>Header</div>
<div style="width:1024;height:200;background:white;text-align:center;color:black;font-size:300%"><br/>Cuerpo</div>
<div style="width:1024;height:200;background:#e6ffff;text-align:center;color:black;font-size:300%"><br/>Firmas</div>
<div style="width:1024;height:200;background:#b3fff0;text-align:center;color:black;font-size:300%"><br/>Footer</div>
</html>