{% extends '@layout/base.html.twig' %}

{% block title %} Nuevo Usuario {% endblock %}

{% block content %}

<div id="component" class="container">
    <div class="row mt-1">
        <div class="col">
            <h3>Nuevo usuario</h3>
        </div>
    </div>
    <form action="{{path('createUser')}}">
        <div class="container border rounded">
            <div class="container mt-3">
                <h4>Datos del usuario</h4>
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <label for="firstName" class="col col-form-label">Nombre/s</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" tabindex="1" autofocus="autofocus" required>
                    </div>
                    <div class="col-sm-6">
                        <label for="lastName" class="col col-form-label">Apellidos/s</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" tabindex="2" required>
                    </div>
                </div>
                <div class="mt-3 mb-3 row">
                    <div class="col">
                        <label for="userName" class="col col-form-label">Nombre de usuario</label>
                        <input type="text" class="form-control" id="userName" name="userName" tabindex="3" required>
                    </div>
                </div>
                <div class="row mt-3 mb-3">

                    <div class="col-sm-6">
                        <label for="password" class="col-form-label">Contraseña</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="password" name="password" tabindex="4" required>
                            <button type="button" onclick="toggle('password')" class="btn btn-outline-secondary"
                                id="toggleVisibility" tabindex="8" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-eye" viewBox="0 0 16 16">
                                    <path
                                        d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                    <path
                                        d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="confirmPassword" class="col-form-label">Repetir contraseña</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" tabindex="4" required 
                                aria-describedby="toggleVisibility2">
                            <button type="button" onclick="toggle('confirmPassword')" class="btn btn-outline-secondary"
                                id="toggleVisibility2" tabindex="9" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-eye" viewBox="0 0 16 16">
                                    <path
                                        d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                    <path
                                        d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                </svg>
                            </button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="container border rounded mt-3">
            <div class="container mb-3">
                <h4 class="mt-3 mb-3">Perfil de usuario</h4>

                <select class="form-select" tabindex="5" id="profileID" name="profileID">
                    <option selected disabled value=0>Seleccionar perfil</option>
                    {% for profile in profiles %}
                        <option value={{profile.id}}>{{profile.name}}</option>
                    {% endfor %}
                </select>

            </div>
        </div>

        <div class="container">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
                <a class="btn btn-secondary mb-3" href={{ path('users') }} tabindex="6" >Cancelar y volver</a>
                {% if is_granted('ROLE_USUARIOS_CREAR') %}    
                    <button class="btn btn-success mb-3" type="submit" tabindex="7" >Crear usuario</button>
                {% else %}
                    <button class="btn btn-success mb-3" type="submit" tabindex="7" disabled title="Usuario no autorizado">Crear usuario</button>
                {% endif %}
            </div>
        </div>
    </form>
</div>

<script>
    // mostrar/ocultar campos de tipo "contraseña"
    function toggle(elementID) {
        var field = document.getElementById(elementID);
        if (field.type === "password") {
            field.type = "text";
        } else {
            field.type = "password";
        }
    }   
</script>

{% endblock %}