<div id="navbar" class="border-bottom" style="background-color: #00889B;">
    <nav class="navbar justify-content-center navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand d-none d-sm-block" href="http://www.med.unlp.edu.ar">
                <img class="img-fluid" src="/static/assets/logos/fmed-unlp-logo.png" alt="Facultad de Medicina UNLP">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.attributes.get('_route') == 'home' %}active{% endif %}"
                            aria-current="page" href={{path("home")}}>Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.attributes.get('_route') == 'events' %} active{% endif %}"
                            href={{path("events")}}>Eventos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.attributes.get('_route') == 'templates' %} active{% endif %}"
                            href={{path("templates")}}>Templates</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.attributes.get('_route') == 'users' %} active{% endif %}"
                            href={{path("users")}}>Usuarios</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            admin@mail.com
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Mi perfil</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Cerrar sesion</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>